addressbook.xsd

<xs:schema 
xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="addressbook" type="AddressBook"/>
<xs:complexType name="AddressBook">
<xs:sequence>
<xs:element name="name" type="xs:string"/>
<xs:element name="phone" type="xs:string"/>
<xs:element name="address" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
